@using Aplication.DTO

@model IEnumerable<CategoryDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Редактировать и удалить категории";
}

<h1>Manage category</h1>

<div class="row">
    <!-- Список существующих категорий -->
    <div class="col-md-6">
        <h3>Category list</h3>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>
                            <form asp-action="EditDeleteCategory" asp-controller="Product" method="post">
                                <input type="hidden" name="id" value="@category.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>   
    
    <div class="col-md-6">
        <h3>Add new category</h3>
        <form asp-action="EditDeleteCategory" asp-controller="Product" method="post">
            <div class="mb-3">
                <label for="Name" class="form-label">Category name</label>
                <input type="text" name="Name" asp-for ="Name" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="/Product/MainPage1" class="btn btn-secondary">Back</a>
        </form>
    </div>

   
</div>

